.page-host {
  margin-top: 50px;
}
.rating {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border: 1px solid #77d;
  background-color: #fff;
  -webkit-border-radius: 10px;
}
.rating.selected {
  background-color: #77d;
}
